<aside class = "main-sidebar sidebar-dark-primary elevation-4 bg-navy">
<div class = "sidebar" > 
	<div class = "user-panel mt-3 pb-3 d-flex">
	<div class = "info">
		<h4 style = "color: white; font-family:courier;"><b>LATIHAN</b></h4>
	</div>
	</div>
	<nav class = "mt-2">
		<ul class = "nav nav-pills nav-sidebar flex-column">
				<li class= "nav-item">
					<a href="../person" class = "nav-link">
					<i class = "far fa-circle nav-icon"></i>
					<b style = "color:white;">Data Person</b></a>	
				</li>
				<li class= "nav-item">
					<a href="../pendidikan" class = "nav-link">
					<i class = "far fa-circle nav-icon"></i>
					<b style = "color:white">Data Pendidikan</b></a>
				</li>
		</ul>
	</nav>
</div>
</aside>