<!DOCTYPE html>
<html layout:decorate="~{base}"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

 <div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data Person</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard" style = "color:navy;">Home</a></li>
            <li class="breadcrumb-item active">Data Personal</li>
        </ol>
    </div>
</div> 

<div class = "row" layout:fragment="content-body">

	<div class = "col-12">
		<div class = "card">
			<div class = "card-header bg-navy">
				<h3 class = "card-title">Pendidikan</h3>
			</div>
			<div class = "card-body table-responsive">
				<div class = "form-group">
					<label>Id Person : </label>
					<div class = "row">
					<div class = "col-md-8">
					<input class = "form-control" id = "idperson" name = "idperson" placeholder="Masukkan ID" required type = "text">					</div>
					<div class = "col-md-4" align = "right">
					<button class = "float-right btn btn-primary" id = "btn-tambah-biodata"> Tambah </button>
					</div>
					</div>	
				</div>
					<table class = "table table-striped table-hover nowrap" id = "tableData" style = "width:100%"></table>
				<div align="right">
		            <button type="button" class="btn btn-danger" id="delete"> Delete</button>
		            <button type="button" class="btn btn-secondary" id="saveAll" data-toggle="modal" data-target="#modal2">Save All</button>
          		</div>
			</div>
			
		</div>
	</div>
	
	<div class = "modal fade" id = "modal-pend">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
				<div class = "modal-header bg-navy">
					<h4 class = "modal-title">Form Data Pendidikan</h4>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
	                        <span aria-hidden="true">&times;</span>
	                </button>
				</div>
				<div class = "modal-body" style = "background-color:#d9d9d9">
					<div class = "card-header">
					</div>
					<form id = "form-pend" role="form">
						<input name = "id" id = "id" type = "hidden"/>
						<input name = "idPerson" id = "idPerson" type = "hidden"/>
						<div class = "form-group">
							<label for = "jenjang"> Jenjang Pendidikan : </label>
							<select class = "form-control" id = "jenjang" name = "jenjang">
								<option value = "none"> Pilih Jenjang Pendidikan </option>
								<option value = "SD"> SD </option>
								<option value = "SMP"> SMP </option>
								<option value = "SMA/SMK"> SMA/SMK </option>
								<option value = "D3"> D3 </option>
								<option value = "D4"> D4 </option>
								<option value = "S1"> S1 </option>
								<option value = "S2"> S2 </option>
								<option value = "S2"> S3 </option>
							</select>
						</div>
						<div class = "form-group">
							<label for = "alamat">Institusi : </label><br>
							<input class = "form-control" id = "institusi" name = "institusi" placeholder = "Institusi" required type = "text" >
						</div>
						<div class = "form-group">
							<label for = "tahunMasuk">Tahun Masuk : </label><br>
							<input class = "form-control" id = "tahunMasuk" name = "tahunMasuk" placeholder = "Tahun Masuk" required type = "text" >
						</div>
						<div class = "form-group">
							<label for = "tahunLulus"> Tahun Lulus : </label>
							<input class = "form-control" required type = "text" id = "tahunLulus" name = "tahunLulus" placeholder = "Tahun Lulus">
						</div>
					</form>
				</div>
				<div class = "modal-footer justify-content-between">
					<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
	                <button class="btn btn-primary" id="btn-save-biodata" type="button">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
<th:block layout:fragment="add-scripts">
<script th:src="@{/assets/js/pendidikanarr.js}"></script>

<script>


$('#btn-tambah-biodata').click(function () {
    formPend.resetForm();
    $('#modal-pend').modal('show')
});

$('#btn-save-biodata').click(function () {
    formPend.addPend();
})

$('#saveAll').click(function(){
    formPend.saveData();
    $('input[name=idPerson]').val(' ');
    var input=[];
});
$("#delete").click(function(){
	$('#tableData').DataTable().clear();
	$('#tableData').DataTable().destroy();
	$('input[name=idPerson]').val(' ');
	formPend.resetForm();
});
</script>
</th:block>
	

</html>