<!DOCTYPE html>
<html layout:decorate="~{base}"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

 <div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark"><b>Data Person</b></h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard" style = "color:navy;">Home</a></li>
            <li class="breadcrumb-item active">Data Personal</li>
        </ol>
    </div>
</div> 

<div class = "row" layout:fragment="content-body">

	<div class = "col-12">
		<div class = "card">
			<div class = "card-header bg-navy">
				<div class = "card-title">Biodata</div>
				<button class = "float-right btn btn-secondary" id = "btn-tambah-biodata"> Tambah </button>
			</div>
			<div class = "card-body table-responsive">
				<table class = "table table-striped table-hover nowrap" id = "tableData"
					style = "width:100%"></table>
			</div>
		</div>
	</div>
	
	<div class = "modal fade" id = "modal-biodata">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
				<div class = "modal-header bg-navy">
					<h4 class = "modal-title">Form Biodata</h4>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
	                        <span aria-hidden="true">&times;</span>
	                </button>
				</div>
				<div class = "modal-body" style = "background-color:#d9d9d9">
					<div class = "card-header">
					</div>
					<form id = "form-biodata" role="form">
						<input name = "id" type = "hidden"/>
						<div class = "form-group">
							<label>Nik : </label>
							<input class = "form-control" id = "nik" name = "nik" placeholder = "NIK" required type = "text">
						</div>
						<div class = "form-group">
							<label>Nama : </label>
							<input class = "form-control" id = "nama" name = "nama" placeholder = "Nama" required type = "text">
						</div>
						<div class = "form-group">
							<label for = "alamat">Alamat : </label><br>
							<input class = "form-control" id = "alamat" name = "alamat" placeholder = "Alamat" required type = "text" >
						</div>
						<div class = "form-group">
							<label for = "tempatLahir">Tempat Lahir : </label><br>
							<input class = "form-control" id = "tempatLahir" name = "tempatLahir" placeholder = "Tempat Lahir" required type = "text" >
						</div>
						<div class = "form-group">
							<label for = "tanggalLahir">Tanggal Lahir : </label><br>
								<div class = "input-group mb-3">
								<div class = "input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
									<input class = "form-control" id = "tanggalLahir" name = tanggalLahir placeholder = "Tanggal Lahir" required type = "date" >
								</div>	
						</div>	
						<div class = "form-group">
							<label for = "noHp">No Hp : </label><br>
							<input class = "form-control" id = "noHp" name = "noHp" placeholder = "No HP" required type = "text" >
						</div>
					</form>
				</div>
				<div class = "modal-footer justify-content-between">
					<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
	                <button class="btn btn-secondary" id="btn-save-biodata" type="button">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
<th:block layout:fragment="add-scripts">
<script th:src="@{/assets/js/person.js}"></script>
<script>
tableData.create();

$('#btn-tambah-biodata').click(function () {
    formBiodata.resetForm();
    $('#modal-biodata').modal('show')
});

$('#btn-save-biodata').click(function () {
    formBiodata.saveForm();
    
})
</script>
</th:block>
	

</html>